{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Categories</h1>
    <form action="{% url 'categories' %}" method="post">
        {% csrf_token %}
        <select name="category-selection">
            <option selected disabled label="Select"></option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search category">
    </form>
{% endblock %}