{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for entry in listings %}
        <div>
            {% if user.is_authenticated %}
                <h4><a href="{% url 'view_listing' entry.id %}">{{ entry.title }}</a></h4>
            {% else %}
                <h4>{{ entry.title }}</h4>
            {% endif %}
            
            <h6>Seller: {{ entry.seller}}</h6>
            <h6>Price: ${{ entry.price }}</h6>
            <p>Created {{ entry.created }}</p>
            <p>Description: {{ entry.description }}</p>
            <p>Category: {{ entry.category }}</p>
            <img src="{{ entry.image }}" alt="{{ entry.title }}" width="10%" height="10%">
        </div>
        <hr>
    {% endfor %}
{% endblock %}