{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <!-- If this page is to display the category view, the "category" context will be present. Otherwise, this field is empty -->
    {% if category %}
        <h4>Category: {{ category }}</h4>
    {% endif %}

    {% for item in listings %}
        <div>
            {% if user.is_authenticated %}
                <h4><a href="{% url 'view_listing' item.id %}">{{ item.title }}</a></h4>
            {% else %}
                <h4>{{ item.title }}</h4>
            {% endif %}
            
            <h6>Seller: {{ item.seller}}</h6>
            <h6>Listing price: ${{ item.price }}</h6>
            <p>Created {{ item.created }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Category: {{ item.category }}</p>
            <img src="{{ item.image }}" alt="{{ item.title }}" width="10%" height="10%">
        </div>
        <hr>
    {% endfor %}
{% endblock %}