{% extends "auctions/layout.html" %}

{% block body %}
    {% if not item.active %}
        <h1>Auction has been closed.</h1>
        {% if user == bid_info.winner %}

            <h4>Congratulaions! You won the auction.</h4>
            <h4>You have obtained the auction item for ${{ bid_info.bid }}</h4>

        {% endif %}
    {% endif %}
    <div class="form-group">
        {% if item.seller == user and item.active %}

            <form action="{% url 'close_auction' item.id %}" method="post">
                {% csrf_token %}

                {% if bid_info %}
                    <button class="btn btn-primary" type="submit">Close auction @ ${{ bid_info.bid }}</button>
                {% else %}
                    <button class="btn btn-primary" type="submit">Close auction @ ${{ item.price }}</button>
                {% endif %}
            </form>

        {% elif item.seller != user %}

            <form action="{% url 'watchlist_action' item.id %}" method="post">
                {% csrf_token %}
                <!-- item_in_watchlist: a boolean value indicating whether the user has already added current item to watchlist -->
                {% if item_in_watchlist %}

                    <button class="btn btn-danger" name="watchlist-action" value="remove" type="submit">Remove from watchlist</button>

                {% elif item.active and not item_in_watchlist %}

                    <button class="btn btn-success" name="watchlist-action" value="add" type="submit">Add to watchlist</button>

                {% endif %}
            </form>

        {% endif %}
    </div>

    <div>
        <h1>{{ item.title }}</h1>
        <h4>Listing price: ${{ item.price }}</h4>
        <ul>
            <li>Seller: {{ item.seller}}</li>
            <li>Description: {{ item.description }}</li>
            <li>Category: {{ item.category }}</li>
        </ul>
        <img src="{{ item.image }}" alt="{{ item.title }}" width="10%" height="10%">
        <p></p>
        <small>Created {{ item.created }}</small>
    </div>  
    <hr>

    {% if item.seller != user and item.active %}

        <div class="form-group">
            <h2>Make a bid</h2>
            {% if bid_info %}

                <h4>Current bid: ${{ bid_info.bid }}</h4>
                <p>Number of bids: {{ bid_info.bid_count }}</p>

            {% else %}

                <h6>Be the first bidder</h6>

            {% endif %}

            <form action="{% url 'make_bid' item.id %}" method="post">
                {% csrf_token %}
                {% if bid_info %}

                    <input type="number" name="bid-amount" placeholder="Amount" min="{{ bid_info.bid|add:'1' }}">

                {% else %}

                    <input type="number" name="bid-amount" placeholder="Amount" min="{{ item.price|add:'1' }}">

                {% endif %}
                <input class="btn btn-primary" type="submit" value="Place bid">
            </form>
        </div>
        <hr>

    {% elif not item.active %}

        <h4>Winner: {{ bid_info.winner }}</h4>
        <h4>Winning bid: {{ bid_info.bid }}</h4>

    {% endif %}
    <h2>Comments</h2>

    {% if item.active and item.seller != user %}
        <div class="form-group">
            <form action="{% url 'comment' item.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input class="btn btn-primary" type="submit" value="Add comment">
            </form>
        </div>
    {% endif %}
    <hr>

    {% for comment in comments%}
        <h4>{{ comment.user__username}}</h4>
        <p>{{ comment.comment }}</p>
        <small>{{ comment.time }}</small>
        <hr>
    {% empty %}
        <p>No comments</p>
    {% endfor %}
{% endblock %}