{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        {% if item.seller == user %}

            <button>Close listing</button>

        {% else %}

            <form action="{% url 'watchlist_action' item.id %}" method="post">
                {% csrf_token %}
                <!-- item_in_watchlist: a boolean value indicating whether the user has already added current item to watchlist -->
                {% if item_in_watchlist %}
                    <button name="watchlist-action" value="remove" type="submit">Remove from watchlist</button>
                {% else %}
                    <button name="watchlist-action" value="add" type="submit">Add to watchlist</button>
                {% endif %}
            </form>

        {% endif %}
    </div>

    <div>
        <h1>{{ item.title }}</h1>
        <h4>Listing price: ${{ item.price }}</h4>
        <ul>
            <li>Seller: {{ item.seller}}</li>
            <li>DateTime created {{ item.created }}</li>
            <li>Description: {{ item.description }}</li>
            <li>Category: {{ item.category }}</li>
        </ul>
    </div>  


    {% if item.seller != user %}

        <div>
            <h2>Make a bid</h2>

            {% if bid_info %}
            
                <h4>Current bid: {{ bid_info.bid }}</h4>
                <p>Number of bids: {{ bid_info.bid_count }}</p>

            {% else %}

                <h4>Be the first bidder</h4>

            {% endif %}

            <form action="{% url 'make_bid' item.id %}" method="post">
                {% csrf_token %}
                <input type="number" name="bid-amount" placeholder="Amount" min="{{ item.price|add:'1' }}">
                <input type="submit" value="Place bid">
            </form>
        </div>

    {% endif %}
    <img src="{{ item.image }}" alt="{{ item.title }}" width="10%" height="10%">
{% endblock %}