{% extends "auctions/layout.html" %}

{% block body %}
    <h1>My Listings</h1>
    {% for item in my_listings %}

        <div>
            {% if user.is_authenticated %}
                <h4><a href="{% url 'view_listing' item.id %}">{{ item.title }}</a></h4>
            {% endif %}
            <h6>Listing price: ${{ item.price }}</h6>
            <p>Description: {{ item.description }}</p>
            <p>Category: {{ item.category }}</p>
            <img src="{{ item.image }}" alt="{{ item.title }}" width="10%" height="10%">
            <p>Created {{ item.created }}</p>
        </div>
        <hr>

    {% empty %}
        <h4>No active listings</h4>

    {% endfor %}

    <h1>My winnings</h1>
    {% for item in my_winnings %}

        <div>
            <h4>{{ item.title }}</h4>
            <p>Description: {{ item.description }}</p>
            <p>Category: {{ item.category }}</p>
            <img src="{{ item.image }}" alt="{{ item.title }}" width="10%" height="10%">
        </div>
        <hr>
    
        {% empty %}
        <h4>No winnings at the moment.</h4>

    {% endfor %}
{% endblock %}