{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watchlist</h1>
    {% for item in items_in_watchlist %}
        <div>
            <h4><a href="{% url 'view_listing' item.id %}">{{ item.title }}</a></h4>
            <h6>Seller: {{ item.seller}}</h6>
            <h6>Price: ${{ item.price }}</h6>
            <p>Created {{ item.created }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Category: {{ item.category }}</p>
            <img src="{{ item.image }}" alt="{{ item.title }}" width="10%" height="10%">
        </div>
        <hr>
    {% endfor %}
{% endblock %}